footer {
    $footer_height_lg: 60px;

    height: $footer_height_lg;

    box-shadow: 0px -4px #e8e8e8;
    background-color: #eaeaea;
    font-size: 14px;

    .copyright {
        text-align: center;
        line-height: $footer_height_lg;

        color: #666;
        user-select: none;
    }
}
