$header_title_width_lg: 300px;
$header_links_width_lg: 300px;
$header_height_lg: 120px;
$header_background_color: #f8f8f8;
$header_bottom_shadow_color: #f4f4f4;
$header_nav_font_color: #666;
$header_nav_font_color_hover: #334;

.header {
    height: $header_height_lg;
    display: grid;
    grid-template-columns: [_title]$header_title_width_lg 20px 1fr [_links]$header_links_width_lg;
    background-color: $header_background_color;
    box-shadow: 8px 8px $header_bottom_shadow_color;

    &-title {
        grid-column: _title;
        line-height: $header_height_lg;
        text-align: center;
        font-family: "Caveat", cursive;
        padding-bottom: 5px;

        font-size: 70px;
        text-decoration: none;
        color: #000;
        text-shadow: 2px 2px #666;
    }

    &-links {
        grid-column: _links;
        display: inline-block;
        line-height: $header_height_lg;
        font-size: 24px;
        font-family: cursive;
        padding-top: 10px;
        &-item {
            text-decoration: none;
            color: $header_nav_font_color;
            &:hover {
                color: $header_nav_font_color_hover;
            }
        }
        &-item + &-item {
            margin-left: 30px;
        }
    }
}
