.histories {
    height: 100%;
}

.history {
    $history_height: 50px;
    margin: auto 20px;
    min-height: $history_height;
    line-height: $history_height;
    padding: 0 20px;
    display: grid;
    grid-template-columns: [_when]150px [_what]1fr;

    .when {
        grid-column: _when;
    }
    .what {
        grid-column: _what;
        padding-left: 20px;
    }
}

.history + .history {
    border-top: 1px dotted #444;
}

.history:first-child {
    border-top: 1px dotted #444;
    margin-top: 20px;
}

.history:last-child {
    margin-bottom: 20px;
    border-bottom: 1px dotted #444;
}
