.map {
    * {
        text-align: start;
    }

    display: grid;
    grid-template-columns: [_title]150px [_colon]25px [_value]1fr;
    .title {
        grid-column: _title;
    }
    .colon {
        grid-column: _colon;
    }
    .value {
        grid-column: _value;
    }
}

