.skills {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: center;
    .genre {
        min-height: 100px;
        .title {
            height: 50px;
            line-height: 100px;

            text-align: center;
            font-size: 26px;
            font-family: cursive;
            letter-spacing: 2px;
        }
        .genre-skills {
            padding: 40px 30px 20px;
            .skill {
                display: grid;
                grid-template-columns: [_img]32px [_span]1fr;
                img {
                    grid-column: _img;
                    width: 32px;
                    height: 32px;
                    object-fit: cover;
                    user-select: none;
                }
                .name {
                    padding-left: 10px;
                    grid-column: _span;
                    font-size: 24px;
                    font-weight: lighter;
                }
                font-size: 18px;
            }
            .skill + .skill {
                margin-top: 10px;
            }
        }
    }
}
