.skills {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: center;

    .genre {
        min-height: 100px;

        .title {
            height: 50px;
            text-align: center;
            line-height: 100px;

            font-family: cursive;
            font-size: 26px;
            letter-spacing: 2px;
        }

        .genre-skills {
            padding: 40px 30px 20px;

            .skill {
                $skill_img_width: 32px;

                font-size: 18px;

                display: grid;
                grid-template-columns: [_img]$skill_img_width [_span]1fr;

                img {
                    grid-column: _img;

                    width: $skill_img_width;
                    height: 32px;

                    object-fit: cover;
                    user-select: none;
                }

                .name {
                    grid-column: _span;

                    padding-left: 10px;

                    font-size: 24px;
                    font-weight: lighter;
                }
            }

            .skill + .skill {
                margin-top: 10px;
            }
        }
    }
}
