.container {
    z-index: 0;

    background-color: #fff;

    display: grid;
    grid-template-rows: [_header]auto [_body]1fr [_footer]auto;

    &-header {
        grid-row: _header;
    }

    &-body {
        grid-row: _body;
        
        margin-top: 8px;
        margin-bottom: 4px;
    }

    &-footer {
        grid-row: _footer;
    }
}
